<div class="section-footer">
    <div class="container-footer">
        <div class="footer-top-wrapper">
            <img src="images/wch-logomark-vert-fill.svg" loading="lazy" alt="" class="logomark-footer">
            <div class="footer-links-column-wrapper">
                <div class="footer-links-column">
                    <div class="text-footer-links-overline">NAVIGATION</div>
                    <div class="footer-links-wrapper">
                        <a href="/" class="footer-link">
                            <div class="text-footer-link">Work</div>
                        </a>
                        <a href="/info" class="footer-link">
                            <div class="text-footer-link">Info</div>
                        </a>
                    </div>
                </div>
                <div class="footer-links-column">
                    <div class="text-footer-links-overline">CONNECT</div>
                    <div class="footer-links-wrapper">
                        <a href="https://www.linkedin.com/in/martinmccurley/" target="_blank" class="footer-link">
                            <div class="text-footer-link">LinkedIn</div>
                        </a>
                        <a href="https://github.com/martinmccurley" target="_blank" class="footer-link">
                            <div class="text-footer-link">GitHub</div>
                        </a>
                        <a href="/resume.pdf" target="_blank" class="footer-link">
                            <div class="text-footer-link">CV</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-wrapper">
            <div class="footer-bottom-left">
                <div class="text-footer-copyright">© 2025 Martin McCurley</div>
                <div class="text-under-copyright">All rights reserved.</div>
            </div>
            <div class="footer-bottom-right">
                <div class="text-last-updated" id="last-updated">Last updated: December 2024</div>
            </div>
        </div>
    </div>
</div> 