<div style="opacity:1" class="section-nav">
    <div class="nav-bar">
        <div class="nav-left-wrapper">
            <a href="/" class="nav-logo-link w-inline-block" data-scroll data-scroll-speed="1">
                <div class="logo-block">
                    <img src="images/wch-logomark-vert-fill.svg" loading="lazy" alt="" class="logomark">
                    <div class="logo-text">
                        <div class="text-logo">Martin McCurley</div>
                        <div class="text-underlogo">Software Developer</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="nav-pill-wrapper">
            <div class="nav-indicator-glow" id="nav-glow"></div>
            <div class="nav-pill">
                <a href="/" class="nav-toggle work" id="nav-work">
                    <div class="text-nav-toggle">Work</div>
                </a>
                <a href="/info" class="nav-toggle" id="nav-info">
                    <div class="text-nav-toggle">Info</div>
                </a>
                <div class="nav-indicator-pill" id="nav-pill"></div>
            </div>
        </div>
        <div class="nav-right-wrapper">
            <div class="chip-socials-wrapper">
                <a href="https://www.linkedin.com/in/martinmccurley/" target="_blank" class="chip-socials w-inline-block">
                    <div class="text-socialnav">LinkedIn</div>
                    <img src="images/icon-external.svg" loading="lazy" alt="" class="icon-external">
                </a>
                <a href="https://github.com/martinmccurley" target="_blank" class="chip-socials w-inline-block">
                    <div class="text-socialnav">GitHub</div>
                    <img src="images/icon-external.svg" loading="lazy" alt="" class="icon-external">
                </a>
                <a href="/resume.pdf" target="_blank" class="chip-socials w-inline-block">
                    <div class="text-socialnav">CV</div>
                    <img src="images/icon-external.svg" loading="lazy" alt="" class="icon-external">
                </a>
            </div>
        </div>
    </div>
</div> 